---
layout: layouts/base.ejs
---

<article>
  <header>
    <h1 class="text-center font-bold text-3xl"><%= title %></h1>
    <% if (typeof date !== 'undefined') { %>
    <div class="text-center text-sm mb-8">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
    <% } %>
  </header>

  <section class="content"><%- content %></section>
</article>
