@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-700;
}

a:hover {
  @apply underline;
}

.content p {
  @apply my-5;
}

.content h1 {
  @apply text-3xl font-bold mt-3 mb-3;
}

.content h2 {
  @apply text-2xl font-bold mt-3 mb-3;
}

.content h3 {
  @apply text-xl font-bold mt-3 mb-3;
}

.content h4 {
  @apply text-2xl font-bold mt-10 mb-5;
}

.content h5 {
  @apply text-xl font-bold mt-10 mb-5;
}

.content h6 {
  @apply text-lg font-bold mt-10 mb-5;
}

.content ul,
.content ol,
.content p {
  @apply overflow-auto;
}

.content > div > ul,
.content > div > ol {
  @apply my-6;
}

.content ul,
.content ol {
  @apply pl-8;
}

.content ul {
  @apply list-outside list-disc;
}

.content ol {
  @apply list-outside list-decimal;
}

.content pre[class*='language-'] {
  @apply my-8;
}

.content pre {
  font-size: 0.8rem;
}

.content table {
  @apply whitespace-nowrap my-8 border-collapse block overflow-auto;
}

.content th,
.content td {
  @apply border px-8 py-4;
}

.content th {
  @apply bg-gray-100;
}

code {
  white-space: pre-line;
}

pre {
  overflow: auto;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05);
}

p {
  word-break: break-word;
}

p > img {
  margin: 0 auto;
}

pre {
  max-height: 768px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

.nav-link {
  @apply text-gray-700;
  @apply border-none;
  @apply hover:no-underline;
  @apply hover:text-gray-800;
}

@media (max-width: 767px) {
  body {
    padding: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-gray-100;
  }

  a {
    @apply text-blue-300;
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    @apply text-white;
  }
  h1 {
    @apply text-white;
  }

  p {
    @apply text-gray-100;
  }

  pre {
    background-color: rgba(0, 0, 0, 0.4);
  }

  div {
    @apply text-white;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  .nav-link {
    @apply text-gray-300;
    @apply border-none;
    @apply hover:no-underline;
    @apply hover:text-white;
  }
}
